Django==2.0.8
django-crispy-forms==1.7.2
django-markdown-deux==1.0.5
django-pagedown==1.0.6
django-filter==2.0.0
markdown==3.0.1
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
markdown2==2.3.7


itsdangerous==0.24

Jinja2==2.10
MarkupSafe==1.0

Pillow==5.1.0

psycopg2==2.7.5

pytz==2018.4

requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1

Send2Trash==1.5.0
