{% extends "blog/base.html" %}
{% load urlify %}

{% block title %}
{{blog.title}} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="pt-5 mb-3 text-center col-12">
    <h1 class="blog-title">{{blog.title}}</h1>
    {% if blog.user.get_full_name %}
    <h4 class="d-inline-block blog-date font-weight-bold">{{blog.user.get_full_name}}<span class="pl-2">=></span></h4>
    {% else %}
    <h4 class="d-inline-block blog-date font-weight-bold">{{blog.user}}<span class="pl-2">=></span></h4>
    {% endif %}
    <p class="blog-date text-muted d-inline-block pl-2">{% if blog.draft %}<span style='color:red;'>Draft </span>{% endif %}<span>{ </span>{{blog.pub_date}}<span> }</span></p>

    <div class="d-block">
        <!--https://developers.facebook.com/docs/plugins/like-button-->
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

        <a class="btn btn-sm twitter" href="https://twitter.com/home?status={{ blog.body|truncatechars:50|urlify }}%20{{ request.build_absolute_uri }}"><i class="fab fa-twitter"></i>
            Twitter
        </a>

        <a class="btn btn-sm google" href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>

        <a class="btn btn-sm linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{blog.title}}&summary={{ blog.body|truncatechars:50|urlify }}&source=http:{{ request.build_absolute_uri }}">
            Linkedin
        </a>

        <a class="btn btn-sm reddit" href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_quote }}">Reddit</a>
    </div>

</div>
<hr>

<div class="container py-4 px-4">
    <div class="text-center">
        {% if blog.image %}
        <img class="img-fluid img-responsive" src="{{ blog.image.url }}" height="450" width="450">
        {% endif %}
        {% if blog.video %}
        <iframe width="100%" height="400" src="{{ blog.video }}" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% endif %}
    </div>
    <div class="blog-body text-lg-left text-justify py-4"><p>{{blog.body|linebreaks|safe}}</p></div>
</div>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <!--https://developers.facebook.com/docs/plugins/comments-->
        <div class="fb-comments container text-center" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
    </div>
</div>

<hr>


{% endblock content %}

