{% extends "blog/base.html" %}
{% block content %}

<main role="main">

    <div class="container px-5">
        <h1 class="blog-title pt-4 d-inline-block mr-2">Recent Posts</h1>
        <a class="btn btn-success mb-3" href="create" role="button"><i class="fas fa-plus"></i> Create</a>
        <div class="col-sm-6 row">
            <form class="input-group" method="GET" action="">
                <input class="form-control" type="text" name="q" value="{{request.GET.q}}" placeholder="Search for..."/>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>

        <table class="table table-hover mt-4">
            {% for blog in blogs %}
            <tr class="caption blog-detail-item">
                <th>
                    {% if blog.draft %}<span class="d-block" style="color:red;">Draft</span>{% endif %} {% if blog.pub_date > today %}<span class="d-block" style="color:green;">Future Post</span>{% endif %}
                    <h4 class="d-inline-block pt-2"><a class="blog-title-main" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h4>
                    <small class="blog-date-main text-muted px-2">{{ blog.updated_at|timesince }} ago</small>
                    {% if blog.user.get_full_name %}
                    <p class="blog-author">Written by: {{blog.user.get_full_name}}</p>
                    {% else %}
                    <p class="blog-author">Written by: {{blog.user}}</p>
                    {% endif %}

                    <p class="blog-summary">{{ blog.get_html|truncatechars_html:200 }}</p>
                    <p class="blog-summary pb-2">
                        <a href="{{ blog.get_absolute_url }}" role="link">View</a> {% if user.is_staff %} |
                        <a href="{{ blog.get_absolute_url }}/edit" role="link">Edit</a> |
                        <a href="{{ blog.get_absolute_url }}/delete" role="link">Delete</a>{% endif %}
                    </p>
                </th>
            </tr>

            {% endfor %}
        </table>
        <hr>

        <div class="pagination">
        <span class="step-links">
            {% if blogs.has_previous %}
                <a href="?{{page_variable}}=1{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&laquo; first</a>
                <a href="?{{page_variable}}={{ blogs.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
            </span>

            {% if blogs.has_next %}
                <a href="?{{page_variable}}={{ blogs.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
                <a href="?{{page_variable}}={{ blogs.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
        </div>
        <hr>
    </div>


</main>


{% endblock content %}